.all{
  display: flex;
  margin-top: 0px;

}
.left-menu{
  margin: 30px;
  margin-left: 100px;
  background-color: #852e2e;
  width: 200px;
  height: 500px;
}
.center-menu{
  margin: 30px;
  margin-left: 270px;
  background-color: #000;
  width: 200px;
  height: 500px;
}
.right-menu{
  margin: 30px;
  margin-left: 400px;
  background-color: #852e2e;
  width: 200px;
  height: 500px;
}
.position{
  position: static;
  position: 30px;
  margin: 0px;
  margin-left: 400px;
  background-color: #852e2e;
  width: 200px;
  height: 500px;
}
